@model UnknownCardsModel
@{
    ViewData["Title"] = "Unknown Cards";
}

<div class="text-center">
    <h1 class="display-4">Unknown Card Log</h1>>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Last Date</th>
            <th>Card Id</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var card in Model.Cards) {
            <tr>
                <td>@card.LastDate</td>
                <td>@card.CardId</td>
                <th>Create Tool</th>
                <th>Create User</th>
            </tr> 
        }
    </tbody>
</table>

