@{
    ViewData["Title"] = "Unknown Cards";
}

<div class="text-center">
    <h1 class="display-4">Unknown Card Log</h1>>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Card Id</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Now</td>
            <td>Some Id</td>
            <th>Create Tool</th>
            <th>Create User</th>
        </tr>
    </tbody>
</table>

